<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>

<link rel="stylesheet" type="text/css" href="css/main.css">
<body>


<div class="wrapper">
	<div class="header">
		<img class="logo" src="images/logo.png" />
		<span class="logo-desc">Myweb</span>
	</div>
	<div class="content">
		<div class="left">
			<span>
				<ul class="list">
					<li><a href="/">หน้าแรก</a></li>
					<li><a href="/product">สินค้า</a></li>
					<li><a href="/about">เกี่ยวกับเรา</a></li>
					<li><a href="/contact">ติดต่อเรา</a></li>
				</ul>
			</span>
		</div>
		<div class="right">
				
				<h1>About</h1>

				

				



		</div>
	</div>
	<div class="footer">
		<span>Footer</span>
	</div>
</div>

</body>
</html>