<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>

<link rel="stylesheet" type="text/css" href="css/main.css">
<body>


<div class="wrapper">
	<div class="header">
		<img class="logo" src="images/logo.png" />
		<span class="logo-desc">Myweb</span>
	</div>
	<div class="content">
		<div class="left">
			<span>
				<ul class="list">
					<li><a href="/">หน้าแรก</a></li>
					<li><a href="/product">สินค้า</a></li>
					<li><a href="/about">เกี่ยวกับเรา</a></li>
					<li><a href="/contact">ติดต่อเรา</a></li>
				</ul>
			</span>
		</div>
		<div class="right">
				
				<h1>Product</h1>

				<div class="list-show">
					 
					 <div class="box">
					 	<a href="product/1">
						 	<img class="pic" src="images/news-01.jpg" />
						 	<span class="title">หัวข้อ</span>
						 	<span class="desc">xxxxxxxxxxxxxxxx xxxxxxxxx
						 	xxxxxxxxxxxxxxx xxxxxx</span>
						</a>
					 </div>

					 <div class="box">
					 	<a href="product/2">
						 	<img class="pic" src="images/news-02.jpg" />
						 	<span class="title">หัวข้อ</span>
						 	<span class="desc">xxxxxxxxxxxxxxxx xxxxxxxxx
						 	xxxxxxxxxxxxxxx xxxxxx</span>
						</a>
					 </div>

					 <div class="box">
					 	<a href="product/3">
						 	<img class="pic" src="images/news-03.jpg" />
						 	<span class="title">หัวข้อ</span>
						 	<span class="desc">xxxxxxxxxxxxxxxx xxxxxxxxx
						 	xxxxxxxxxxxxxxx xxxxxx</span>
						</a>
					 </div>

				</div>



		</div>
	</div>
	<div class="footer">
		<span>Footer</span>
	</div>
</div>

</body>
</html>